h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.topnav {
    background-color: #575757;
}

.topnav {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: #575757;
    overflow: hidden;
}

.topnav a {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 10px;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: #575757;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav img {
    height: 4%;
    width: 4%;
    float: left;
}
