.navbar {
    background-color: rgb(65, 65, 65);
}

.navbar li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 28px;
}

.navbar a:hover {
    background-color: rgb(100, 100, 100);
}